@light-blue: #bed6ef;

.page-header,
.page-footer {
    background-color: @light-blue !important;
}
.page-header .header.panel {
    display: flex;
    align-items: center;
}
.logo img {
    width: 32px !important;
    height: auto !important;
}
.message.info {
    margin: 0 !important;
}
.about-us-block > h1 {
    font-size: 2.6rem !important;
    margin-bottom: 1.6rem;
}
.minicart-wrapper .action.showcart:before {
    color: #efefef !important;
}

.page-layout-3columns {
    .columns {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }

    .column.main {
        flex: 2;
        order: 2;
    }

    .sidebar-main {
        flex: 1;
        order: 1;
    }

    .sidebar-additional {
        flex: 1;
        order: 3;
    }
}

@media (max-width: 768px) {
    .page-layout-3columns .columns {
        flex-wrap: wrap;
        flex-direction: column;
    }
}
