@light-blue: #bed6ef;

.page-header,
.page-footer {
    background-color: @light-blue !important;
}
.page-header .header.panel {
    display: flex;
    align-items: center;
}
.logo img {
    width: 32px !important;
    height: auto !important;
}
.message.info {
    margin: 0 !important;
}
.about-us-block > h1 {
    font-size: 2.6rem !important;
    margin-bottom: 1.6rem;
}
.minicart-wrapper .action.showcart:before {
    color: #efefef !important;
}
.page-layout-3columns {
    .columns {
        display: flex !important;
        flex-direction: column;
        gap: 20px !important;
    }
    .column.main {
        flex: 2 !important;
        order: 2;
        padding: 0;
    }
    .sidebar-main {
        width: 343px !important;
        flex: none;
        order: 1;
    }
    .sidebar-additional {
        flex: 1;
        order: 3;
    }
}

.page-footer {
    .button-arrow-footer {
        outline: none;
        border: 0.1px solid @gray-light;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: fixed;
        right: 10%;
        bottom: 200px;
        z-index: 9999;
        background-color: @light-blue;
        display: none;

        .icon-arrow {
            height: 24px;
            width: 24px;
            stroke: @dark-black;
            fill: @dark-black;
        }
    }
    .activeBtnTop {
        display: block;
    }
}

@media (min-width: 768px) {
    .page-layout-3columns .columns {
        flex-direction: row;
    }
}
