.user-details {
    padding: 15px;
}

.user-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 15px 15px 0 15px;
    background-color: @sidebar-bg;
}

.user-details-wrapper .name {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    color: @font-black;
    margin-bottom: 4px;
}

.user-details-wrapper .email {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0;
    color: @font-black;
    margin: 0;
}

.icon-user-details {
    width: 32px;
    height: 32px;
    fill: @dark-black;
}

.sidebar-main {
    display: flex;
    flex-direction: column-reverse;
}

li.nav.item,
.block-collapsible-nav .item {
    list-style-type: none !important;
}

.price-container .price-from-label, .delimiter {
    display: none;
}

.nav.items .delimiter, .block-collapsible-nav .item:first-child {
    display: none;
}

.wishlist-index-index {
    .products-grid {
        border-bottom: 1px solid @border-gray;
        margin-bottom: 24px;
    }

    .page-title-wrapper {
        display: none;
    }

    .clear-wishlist-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        margin-bottom: 16px;
    }

    .product-item {
        position: relative;
        padding: 7px 4px 27px 4px;
    }

    .product-item::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 80%;
        height: 0.5px;
        background-color: @border-gray;
    }

    .product-item-info {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .product-item-info .minicart-wrapper {
        margin-top: auto;
    }

    .product-image-wrapper {
        overflow: visible;
    }

    .products-grid.wishlist .product-image-container {
        width: 238px;
        height: 194px;
        max-width: none;
    }

    .products-grid.wishlist .product-item-photo {
        margin-bottom: 14px;
    }

    .price-as-configure {
        margin-bottom: 0;
    }

    .product-image-photo {
        width: 238px;
        height: 194px;
        object-fit: contain;
        margin: 0;
        border: none;
    }

    .price-container .price, .price-wrapper {
        font-size: 2rem;
        line-height: 1.8;
        font-weight: 400;
        margin: 0;
    }

    .product-item-name {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0;
        color: @dark-black;
        text-align: left;
    }

    .remove-from-wishlist {
        padding: 4px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .icon-remove {
        width: 18px;
        height: 18px;
        stroke: @font-black;
    }

    .products-grid .product-item {
        margin: 0;

        .remove-from-wishlist-btn {
            text-align: right;
        }

        .icon-cross {
            width: 15px;
            height: 15px;
            stroke: @gray-light;
        }

        .icon-mini-cart-custom {
            width: 30px;
            height: 21px;
            stroke: @coral;
            fill: @coral;
        }

        .wishlist-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4px
        }

        .price-container {
            float: left;
        }
    }

    .minicart-wrapper .action.showcart:before {
        color: @coral;
    }

    .minicart-wrapper .action.showcart .counter.qty {
        display: none;
    }

    .action.share, .clear-wishlist {
        border: none;
        color: @coral;
        outline: none;
        background-color: transparent;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
    }

    .action.tocart {
        padding: 10px 52px;
        border: none;
        outline: none;
        background-color: @coral;
        cursor: pointer;
        color: @white;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0;
        text-align: center;
    }

    .action.tocart.wishlist-actions-toolbar {
        padding: 0;
        background-color: transparent;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wishlist-actions-toolbar {
        background-color: transparent;
        width: auto;
        border: none;
        outline: none;
    }

    .wishlist-item-pager {
        display: none;
    }

    .wishlist-toolbar {
        display: none;
    }

    .actions-toolbar .primary {
        float: right;
    }

    .price-as-configured {
        display: none;
    }

    .load-more-wishlist-btn {
        display: flex;
        align-items: center;
        gap: 16px;
        background-color: transparent;
        color: @coral;
        font-weight: 400;
        font-size: 16px;
        line-height: 0.9;
        letter-spacing: 0;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 0 auto 24px auto;
    }

    .load-more-wishlist-btn > p {
        margin: 0;
    }

    .load-more-wishlist-btn:hover .icon-Frame {
        color: @orange-text;
        fill: @orange-text;
    }

    .icon-Frame {
        width: 32px;
        height: 32px;
        stroke: @coral;
        fill: @coral;
    }

    .products-grid.wishlist {
        .product-item {
            border: none;

            &:first-child {
                border-top: none;
            }
        }

        .product-item-name, .product-item-description, .product-item.price-box, .product-item-tooltip {
            margin-left: 0;
        }
    }

    @media all and (min-width: @screen__xxs) and (max-width: @screen__s) {
        .wishlist-index-index .products-grid.wishlist .product-image-container {
            max-width: none;
            width: 238px;
            height: 194px;
        }

        .product-image-photo {
            width: 238px;
            height: 194px;
            border: none;
        }

        .product-item-name,
        .product-item-description,
        .product-item .price-box,
        .product-item-tooltip {
            margin: 0;
        }

        .icon-Frame {
            width: 24px;
            height: 24px;
        }
    }
}

@media all and (min-width: @screen__m) {
    .products-grid.wishlist .product-item {
        margin-right: 2%;
        width: calc((100% - 4%) / 2);
    }
}

@media all and (min-width: @screen__l) {
    .user-details-wrapper {
        flex-direction: row;
    }

    .icon-Frame {
        width: 32px;
        height: 32px;
    }

    .wishlist-index-index .action.tocart {
        padding: 15px 71px;
    }

    .product-items {
        margin-bottom: 16px;
    }
}


@media all and (min-width: @screen__desktop_mid) {
    .products-grid.wishlist .product-item {
        margin-right: 2%;
        width: calc((100% - 6%) / 3);
    }
}

@media all and (min-width: @screen__4k) {
    .navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
        max-width: 2560px !important;
    }

    .products-grid.wishlist .product-item {
        margin-right: 2%;
        width: calc((100% - 12%) / 6);
    }

    .wishlist-index-index {
        .load-more-wishlist-btn > p {
            font-size: 20px;
        }

        .icon-Frame {
            width: 40px;
            height: 40px;
        }

        .products-grid.wishlist .product-items {
            margin-bottom: 24px;
        }
    }
}
