@import "_typography.less";
@import "critical.less";
@import "_fotorama.less";
@import "_custom_category.less";
@import "_custom_catalog.less";

@screen__xxs_max: 375px;
@screen__xs_max_mob: 425px;
@screen__desktop_mid: 1280px;
@red-color: #be1522;
@red-bg: #d30015;
