.fotorama__nav--thumbs {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.fotorama__nav__shaft {
    position: relative !important;
    left: auto !important;
    right: auto !important;
    margin: 0 auto !important;
    transform: none !important;
    display: flex !important;
    float: none !important;
}

.fotorama__thumb__arr--left,
.fotorama__thumb__arr--right {
    position: absolute !important;
}
