@import "_typography.less";
@import "critical.less";
@import "_fotorama.less";
@import "_custom_category.less";
@import "_custom_catalog.less";
@import "_custom_contact.less";
@import "_custom_register.less";
@import "_custom_search.less";
@import "_custom_wishlist.less";

@screen__xxs: 320px;
@screen__xxs_max: 375px;
@screen__xs_max_mob: 425px;
@screen__xs: 480px;
@screen__s: 640px;
@screen__m: 768px;
@screen__l: 1024px;
@screen__desktop_mid: 1280px;
@screen__xl: 1440px;
@screen__4k: 2560px;

@red-color: #be1522;
@red-bg: #d30015;
@white: #fff;
@slider-bg: #ebe8e8;
@sidebar-bg: #f5f5f5;
@gray-bg: #f0f0f0;
@color-pink-light: #f08080;
@color-red-active: #dc143c;
@color-blue-text: #4682b4;
@blue-bg: #1979c3;
@light-blue: #bed6ef;
@color-gray-text: #696969;
@border-gray: rgb(211, 209, 209);
@name-blue: rgb(31, 97, 145);
@warm-shadow: rgba(119, 77, 68, 0.18);
@gray-shadow: rgba(128, 128, 128, 0.25);
@gray-light: #787676;
@font-black: #333;
@dark-black: #000;
@font-black-light: #595858;
@gray-mid: #999;
@gray-disabled: #adacac;
@orange-text: #ff5501;
@coral: #ff6600;
