// body {
//     font-family: "Texta", Arial, sans-serif;
// }
.lib-font-face(
    @family-name: "Texta",
    @font-path: "@{baseDir}fonts/texta/Texta-Regular",
    @font-weight: 400,
    @font-style: normal,
    @font-display: swap
);
