.page-title-wrapper {
    .page-title {
        text-align: center;
    }
}

@media all and (min-width: @screen__m) {
    .block-compare .block-title,
    .block-wishlist .block-title {
        background-color: #bed6ef;
        padding: 12px 24px;
        display: block;
        border-radius: 10px;
        color: #131313;
        font-size: 1.9rem;
        font-weight: 400 !important;
        margin-bottom: 20px !important;

        strong {
            font-weight: 400 !important;
        }
    }
}
