@dark-text: #333;

.item-wrapper {
    width: 100%;

    .item-content {
        text-align: center;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .item-title {
        width: auto;
        font-size: 1.8rem;
        font-weight: 500;
        color: @dark-text;
        text-transform: uppercase;
        margin: 0 auto 1.6rem auto;
    }
    .action.primary {
        width: max-content;
        margin: 0 auto;
    }
}
